[Desktop Entry]
Type=Application
Name=Amfora
GenericName=Gemini TUI Browser
Comment=Browse Gemini in the terminal.
Categories=Network;WebBrowser;ConsoleOnly;
Keywords=gemini
Terminal=true
Exec=amfora %u
MimeType=x-scheme-handler/gemini;
