name: golangci-lint

on:
  push:
    paths-ignore:
      - '**.md'
      - '**.toml'
      - '**.desktop'
      - 'LICENSE'
  pull_request:
    paths-ignore:
      - '**.md'
      - '**.toml'
      - '**.desktop'
      - 'LICENSE'

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          # Required: the version of golangci-lint is required and must be specified without patch version: we always use the latest patch version.
          version: v1.35
          # Optional: show only new issues if it's a pull request. The default value is `false`.
          only-new-issues: true
